.inazuma-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.inazuma-content {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;

  width: 100%;
  height: calc(100vh - 80px);
}

.inazuma-image {
  position: absolute;
  left: calc(5%);
  padding: 10rem;
  border-radius: 10px;
}

.inazuma-text {
  position: absolute;
  left: calc(50%);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  height: 50%;
  width: 35%;
  padding: 10px 1.5rem;
  border-radius: 20px;
  backdrop-filter: blur(2px);
}

.inazuma-text h1 {
  padding: 10px 0;
  margin: 0;
}

.inazuma-text p {
  margin: 0;
}