.liyue-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.liyue-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  width: 100%;
  height: 60vh;
  padding: 2rem;
}

.liyue-image {
  flex: 1;
  max-width: 500px;
  border-radius: 10px;
}

.liyue-text {
  flex: 1;
  max-width: 500px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: var(--bg-color);
}

.liyue-text h1 {
  margin: 0;
}

.liyue-text p {
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .liyue-content {
    flex-direction: column;
    text-align: center;
  }
  
  .liyue-image {
    max-width: 80%;
  }
}