.mondstadt-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
}

.mondstadt-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.mondstadt-text {
  display: flex;
  flex-direction: column;
}