.snezhnaya-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e5e7eb;
}

.snezhnaya-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.snezhnaya-text {
  display: flex;
  flex-direction: column;
}