.sumeru-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.sumeru-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  width: 100%;
  min-height: 60vh;
  padding: 2rem;
}

.sumeru-image {
  flex: 1;
  width: 100%;
  height: 683px;
  border-right: 1px solid var(--border-color);

  background-image: linear-gradient(to right, var(--bg-color) 0%, rgb(255, 255, 255, 0) 65%), url('/sumeru.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 0 20px 20px 0;
}

.sumeru-text {
  flex: 1;
  max-width: 600px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  padding: 2rem;
}

.sumeru-text h1 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--text-color);
}

.sumeru-text p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  line-height: 1.6;
  font-size: 1.1rem;
}

@media (max-width: 900px) {
  
  .sumeru-content {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    gap: 0;
  }
  
  .sumeru-image {
    width: 100%;
    max-width: 100%;
    height: 300px;
    
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    border-radius: 20px 20px 0 0;

    background-image: linear-gradient(to top, var(--bg-color) 0%, transparent 100%), url('/sumeru.jpg');
  }

  .sumeru-text {
    width: 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding: 2rem 1rem;
  }

  .sumeru-text h1 {
    font-size: 2rem;
  }
}