.sumeru-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.sumeru-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 60vh;
  padding: 2rem;
}

.sumeru-image {
  flex: 1;
  max-width: 700px;
  height: 683px;
  border-right: 1px solid var(--border-color);

  background-image: linear-gradient(to right, var(--bg-color) 0%, rgb(255, 255, 255, 0) 65%), url('/sumeru.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.sumeru-text {
  flex: 1;
  max-width: 500px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: var(--bg-color);
}

.sumeru-text h1 {
  margin: 0;
}

.sumeru-text p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}

@media (max-width: 768px) {
  .sumeru-content {
    flex-direction: column;
    text-align: center;
  }
  
  .sumeru-image {
    max-width: 80%;
  }
}