.login-container {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center; 
  border-bottom: 1px solid var(--border-color);
}

.login-content {
    max-width: 400px;
    width: 100%;

    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 25px 50px var(--shadow-color);
}

.login-content h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: var(--text-color);
}

.login-input {
    position: relative;
    margin-bottom: 30px;
}

.login-input input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--cyan-color-theme);
    color: var(--text-color);
    font-size: 16px;
    outline: none;
}

.login-input label {
    position: absolute;
    left: 2px;
    top: 10px;
    color: var(--text-color);
    pointer-events: none;
    transition: 0.3s;
}

.login-input input:focus {
    border-bottom-color: var(--border-color);
}

.login-input input:focus + label,
.login-input input:not(:placeholder-shown) + label {
    left: 0;
    top: -14px;
    font-size: 13px;
    color: var(--text-color);
}

.login-botton {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    
    background: var(--cyan-color-theme, #00bfff); 
    color: white;
    
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.login-botton:hover {
    filter: brightness(0.9);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}