.contact-container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-bottom: 1px solid var(--border-color);

  padding: 2rem 1rem;
}

.contact-content h1 {
  font-size: 3rem;
  margin-bottom: 0;
  line-height: 1.2;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .contact-container {
    min-height: calc(100vh - 120px);
  }

  .contact-content h1 {
    font-size: 2.2rem;
  }
}