.contact-container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.contact-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}