.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.settings-dropdown {
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setting-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  color: var(--text-color);
  box-shadow: 0px 3px 5px 1px var(--shadow-color);
  transition: all 0.3s ease;
}

.setting-button svg {
  width: 1rem;
  height: 1.6rem;
}

.setting-button:hover {
  background: transparent;
  color: var(--cyan-color-theme);
  transform: rotate(45deg);
  box-shadow: 5px 5px 10px -1px var(--shadow-color);    
}

.setting-content {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 0.5rem;

  bottom: 100%;
  right: 0;
  margin-bottom: 10px;

  background-color: var(--bg-color);
  width: 180px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 1px 4px var(--shadow-color);
}

.setting-content span {
  padding-top: 23px;
}

.setting-content label {
  width: 65px;
  height: 35px;
  position: relative;
  display: block;
  cursor: pointer;
  background: var(--bg-color);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px var(--setting-btn-shadow1),
    inset 0px -5px 15px var(--setting-btn-shadow2);
  transition: 0.3s;
}

.setting-content label:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  background: linear-gradient(180deg, var(--circle-btn-light1), var(--circle-btn-light2));
  border-radius: 180px;
  box-shadow: 0px 5px 10px var(--shadow-color);
  transition: 0.3s;
}

.setting-content input{
  width: 0;
  height: 0;
  visibility: hidden;
}

.setting-content input:checked + label {
  background: var(--bg-color);
}

.setting-content input:checked + label:after {
  left: calc(100% - 2.5px);
  transform: translateX(-100%);
  background: linear-gradient(180deg, var(--circle-btn-dark1), var(--circle-btn-dark2));
}

.setting-content label:active:after{
  width: 35px;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}