.home-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 5rem;
}

.home-content {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.838);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
}

.home-content:hover {
  transform: scale(1.76);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.home-image:hover {
  transform: scale(1.01);
  transition: all 0.3s ease;
}

.home-content h1 {
  font-size: 2.5rem;
  margin: 0;
}

.home-content p {
  color: #555;
  margin: 0;
}