.nav-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background-image: linear-gradient(rgba(255, 255, 255, 0.500), rgba(255, 255, 255, 0.500)), url('/nav-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #fefeff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-body a {
    text-decoration: none;
    color: #454545;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.nav-body a:hover {
    color: #38bdf8;
}

.nav-body a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #38bdf8;
    transition: width 0.3s ease;
}

.nav-body a:hover::after {
    width: 100%;
}