.projects-body {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center; 
  text-align: center;

  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
}

.project-item {
  display: flex;
  flex-direction: column;

  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 2rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 300px;
  max-width: 100%;
  min-height: 200px;

  box-shadow: 0 4px 6px -1px var(--shadow-color);
  gap: 1rem;
  cursor: pointer;

  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-item h1 {
  display: none;
  
  background-color: var(--text-bg-color-travels);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  margin: 0;

  font-size: 1.5rem;
  z-index: 2;
}
@media (min-width: 769px) {
  .project-item:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 10px -3px var(--shadow-color);
  }

  .project-item:hover h1 {
    display: flex;
    justify-content: center;
    animation: fadeIn 0.3s ease;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.project-list a:nth-child(1) .project-item {
  background-image: linear-gradient(var(--img-blur-travels1), var(--img-blur-travels2)), url('/mondstadt.jpg');
}
.project-list a:nth-child(2) .project-item {
  background-image: linear-gradient(var(--img-blur-travels1), var(--img-blur-travels2)), url('/liyue.jpg');
}
.project-list a:nth-child(3) .project-item {
  background-image: linear-gradient(var(--img-blur-travels1), var(--img-blur-travels2)), url('/inazuma.jpg');
}
.project-list a:nth-child(4) .project-item {
  background-image: linear-gradient(var(--img-blur-travels1), var(--img-blur-travels2)), url('/sumeru.jpg');
}
.project-list a:nth-child(5) .project-item {
  background-image: linear-gradient(var(--img-blur-travels1), var(--img-blur-travels2)), url('/fontaine.jpg');
}
.project-list a:nth-child(6) .project-item {
  background-image: linear-gradient(var(--img-blur-travels1), var(--img-blur-travels2)), url('/natlan.webp');
}
.project-list a:nth-child(7) .project-item {
  background-image: linear-gradient(var(--img-blur-travels1), var(--img-blur-travels2)), url('/nod-krai.png');
}

@media (min-width: 769px) {
  .project-list a:nth-child(1) .project-item:hover {
    background-image: url('/mondstadt.jpg');
  }
  .project-list a:nth-child(2) .project-item:hover {
    background-image: url('/liyue.jpg');
  }
  .project-list a:nth-child(3) .project-item:hover {
    background-image: url('/inazuma.jpg');
  }
  .project-list a:nth-child(4) .project-item:hover {
    background-image: url('/sumeru.jpg');
  }
  .project-list a:nth-child(5) .project-item:hover {
    background-image: url('/fontaine.jpg');
  }
  .project-list a:nth-child(6) .project-item:hover {
    background-image: url('/natlan.webp');
  }
  .project-list a:nth-child(7) .project-item:hover {
    background-image: url('/nod-krai.png');
  }
}