.projects-body {
  min-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.project-item {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 2rem;

  width: 300px;
  min-height: 200px;

  box-shadow: 0 4px 6px -1px var(--shadow-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.project-item:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 15px -3px var(--shadow-color);
  transition: all 0.3s ease;
}