.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;

  margin: 0;
  padding: 1rem 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 45%;
  padding: 1rem 0;
}

.footer-content p {
  font-size: 0.9rem;
  color: var(--text-color);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer-content {
    padding: 0 1.5rem;
  }
}