:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #ffffff;
  --text-color: #202124;
  --cyan-color-theme: #38bdf8;
  --border-color: #38bdf8;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --nav-overlay: rgba(255, 255, 255, 0.5);
  --setting-btn-shadow1: rgba(0, 0, 0, 0.4);
  --setting-btn-shadow2: rgba(255, 255, 255, 0.4);
  --circle-btn-light1: #ffffff;
  --circle-btn-light2: #e5e5e5;
  --circle-btn-dark1: #777;
  --circle-btn-dark2: #000000;
  --text-bg-color-travels: rgba(255, 255, 255, 0.5);
  --img-blur-travels1: rgba(255, 255, 255, 0.1);
  --img-blur-travels2: rgba(255, 255, 255, 0.5);
  --sidebar-overlay1: rgba(255, 255, 255);
  --sidebar-overlay2: rgba(255, 255, 255, 0.1);
}

html.dark-mode {
  --bg-color: rgb(38, 39, 40);
  --text-color: white;
  --cyan-color-theme: #0D47A1;
  --border-color: #42A5F5;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --nav-overlay: rgba(0, 0, 0, 0.3);
  --setting-btn-shadow1: rgba(255, 255, 255, 0.4);
  --setting-btn-shadow2: rgba(0, 0, 0, 0.4);
  --circle-btn-light1: #777;
  --circle-btn-light2: #3a3a3a;
  --circle-btn-dark1: #ffffff;
  --circle-btn-dark2: #d1d1d1;
  --text-bg-color-travels: rgba(0, 0, 0, 0.5);
  --img-blur-travels1: rgba(0, 0, 0, 0.1);
  --img-blur-travels2: rgba(0, 0, 0, 0.5);
  --sidebar-overlay1: rgb(0, 0, 0, 0.1);
  --sidebar-overlay2: rgba(0, 0, 0, 0.9);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; 
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.edit-wrapper {
  position: relative;
  width: 100%;
}

.edit-description {
  padding-right: 90px;
  width: 95%;
  min-height: 100%;
    
  font-family: inherit;  
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
    
  background-color: transparent;
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 8px;

  field-sizing: content;
    
  resize: none;
  outline: none;
  transition: all 0.3s ease;
}

.edit-description:focus {
  background-color: var(--bg-color);
  border-style: solid;
  box-shadow: 0 0 10px var(--shadow-color);
}

.save-btn {
  position: absolute;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  gap: 5px;
  
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background-color 0.2s;
  z-index: 5;
}

.save-btn:hover {
  background-color: #059669;
}