:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #ffffff;
  --text-color: black;
  --bg-color-header: #38bdf8;
  --text-color-header: #38bdf8;
  --card-bg: #ffffff;
  --border-color: #e5e7eb;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --nav-overlay: rgba(255, 255, 255, 0.5);
  --setting-btn-shadow1: rgba(0, 0, 0, 0.4);
  --setting-btn-shadow2: rgba(255, 255, 255, 0.4);
  --circle-btn-light1: #ffffff;
  --circle-btn-light2: #e5e5e5;
  --circle-btn-dark1: #777;
  --circle-btn-dark2: #000000;
}

body.dark-mode {
  --bg-color: #111827;
  --text-color: white;
  --bg-color-header: #206d8f;
  --text-color-header: #206d8f;
  --card-bg: #1f2937;
  --border-color: #374151;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --nav-overlay: rgba(0, 0, 0, 0.7);
  --setting-btn-shadow1: rgba(255, 255, 255, 0.4);
  --setting-btn-shadow2: rgba(0, 0, 0, 0.4);
  --circle-btn-light1: #ffffff;
  --circle-btn-light2: #d1d1d1;
  --circle-btn-dark1: #777;
  --circle-btn-dark2: #3a3a3a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; 
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}