:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: rgba(255, 255, 255);
  --text-color: #202124;
  --cyan-color-theme: #38bdf8;
  --border-color: #38bdf8;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --nav-overlay: rgba(255, 255, 255, 0.5);
  --setting-btn-shadow1: rgba(0, 0, 0, 0.4);
  --setting-btn-shadow2: rgba(255, 255, 255, 0.4);
  --circle-btn-light1: #ffffff;
  --circle-btn-light2: #e5e5e5;
  --circle-btn-dark1: #777;
  --circle-btn-dark2: #000000;
  --text-bg-color-travels: rgba(255, 255, 255, 0.5);
  --img-blur-travels1: rgba(255, 255, 255, 0.1);
  --img-blur-travels2: rgba(255, 255, 255, 0.5);
  --sidebar-overlay1: rgba(255, 255, 255);
  --sidebar-overlay2: rgba(255, 255, 255, 0.1);
}

html.dark-mode {
  --bg-color: rgb(38, 39, 40);
  --text-color: white;
  --cyan-color-theme: #0D47A1;
  --border-color: #42A5F5;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --nav-overlay: rgba(0, 0, 0, 0.3);
  --setting-btn-shadow1: rgba(255, 255, 255, 0.4);
  --setting-btn-shadow2: rgba(0, 0, 0, 0.4);
  --circle-btn-light1: #777;
  --circle-btn-light2: #3a3a3a;
  --circle-btn-dark1: #ffffff;
  --circle-btn-dark2: #d1d1d1;
  --text-bg-color-travels: rgba(0, 0, 0, 0.5);
  --img-blur-travels1: rgba(0, 0, 0, 0.1);
  --img-blur-travels2: rgba(0, 0, 0, 0.5);
  --sidebar-overlay1: rgb(0, 0, 0, 0.1);
  --sidebar-overlay2: rgba(0, 0, 0, 0.9);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);

  overflow-x: hidden; 
  width: 100%;

  transition: background-color 0.3s ease, color 0.3s ease; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color); 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--cyan-color-theme); 
}